
* 
{
font-family: 
    'Lucida Grande' , 
    'Lucida Sans' , 
    'Lucida Sans Regular' , 
    'Lucida Sans Unicode' , 
    Geneva , 
    Verdana , 
    sans-serif ;
    }  



html , body 
    {     
    box-sizing: border-box; /*   'The CSS box-sizing property' - allows to include : the {padding and border} in an element's total {width and height}   */ 
    padding: 0 ; 
    margin: 0 ;  
    /*   white-space:   */   /*   Whitespace refers to characters which are used to provide horizontal or vertical space between other characters.    */
    }



html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }



body 
    {
    
    display:grid ;
    /*   min-height:100dvh; dvh ±= todo el height del view "por dinámico" ( <- es el 'd' -en: 'dvh' )   */
    grid-template-rows: auto 1fr auto ; /*   grid-template-rows: auto 1fr auto = 3 filas > { "contenido" ocupa : 'el header' tanto como su contenido + toda la altura restante + 'el footer' tanto como su contenido }   */
    
    /*height: min(100vh, 161.8vw); width: min(61.8vh, 100vw);/* "golden ratio" = use min() to choose the smaller constraint - and achieve a responsive "golden ratio" layout */
    height: 100vh ; 
    width: min(61.8vh, 100vw);

    }



footer 
    {

    position: sticky ; /* 'position: fixed;' - is positioned relative to 'the viewport' - and it always stays in the same place even if the page is scrolled.   -VS:   position: sticky; toggles between a relative and fixed position, depending on the scroll position */
    left: 0 ;
    bottom: 0 ; 
    width: 100% ; 

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-items: center;

    /*display: flex ; 
    flex-direction: row ; 
    flex-wrap: wrap ; 
    align-content: normal ; 
    justify-content: space-between ; 
    align-items: center ;*/

    }

/*#menúPieDePantalla 
    {
    background-color:rgba(255, 0, 0, 0.298)  ; 
    position:sticky ; 
    bottom: 0 ;
    width: 100%;
    }*/ 

#menuIndice li {

    list-style-type: none ; 

    width: 35px ;
    height: 5px ;
    background-color: rgb(5, 113, 202) ;
    margin: 6px 0 ;

    } 

#menuOpciones li {

    list-style-type: none ; 

    width: 5px ;
    height: 5px ;
    background-color: rgb(202, 5, 5) ;
    margin: 6px 0 ;

    }




header 
    {
    position: sticky ; 
    top: 0 ;
    width: 100% ; 
    }











p , span 
    {
    font-size: 13pt ; 
    }

/* 'hanging indent' a los párrafos */ 
.hangingIndent , .sangriaFrancesa {
  text-indent: -1.618em ;
  padding-left: 1.618em ;
  }




h1 , h1 *
    { 
    font-size:9vw !important ; 
    text-decoration-line: underline overline ; 
    /* display:flex ; 
    justify-content:center ; */ 
    text-align:center ;
    /* width: 100% ; */ 
    /* max-height: 222px; */
    } 




h1 span,
h1 p 
    {
    font-size: inherit;
    }












    
/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */

.colorGris { color:  #7f7f7f ; } 
.colorGrisClaro { color: lightgrey ; } 
.colorRojo { color: #fb0017 ; } 
.colorAzul { color: #1080d6 ; } 
.colorAzulClaro { color: #abe2ff ; }
.colorVerde { color: #309603 ; }
.colorVerdeClaro { color: #2f960383 ; }






















/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 
/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 
/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 



.subrayado{text-decoration:underline;} 












/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 
/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 
/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 



.textoImportante, .letraGORDITA, .resumen , .resumenEnGordita
    { 
    font-weight: 999 ; 
    }

.textoSecundario , .textoDetalleSecundario
    {
    color:#7f7f7f ; 
    } 

.textoTerciario , .textoDetalleTerciario , .fluff , .paja 
    {
    color:lightgray ; 
    }




.ambiguo::before ,  .ambiguo::after
    {
    content: '"' ; 
    }



.demasiadoAmplio::before ,  .demasiadoAmplio::after
    {
    content: '"' ;
    }



.síEsExactamenteLoQueQuieroDecir::before , .síEsExactamenteLoQueQuieroDecir::after , .literalmente::before , .literalmente::after , .términoTécnicoEspecífico::before 
    {
    content: "‘" ;
    color:red ;
    } 
.síEsExactamenteLoQueQuieroDecir::after , .literalmente::after , .términoTécnicoEspecífico::after
    {
    content: "’" ;
    color:red ;
    }

.noEsExactamenteLoQueQuieroDecir::before , .noEsExactamenteLoQueQuieroDecir::after
    {
    content: '"' ;
    color:blue ;
    }
.piensoQueEsExacto::before  
    {
    content: "‘" ;
    color:blue ;
    } 
.piensoQueEsExacto::after  
    {
    content: "’" ;
    color:blue ;
    } 

.categoríaGeneral::before , .categoríaGeneral::after
    {
    content: '"' ;
    color:green ;
    }
.categoríaEspecífica::before , .categoríaEspecífica::after
    {
    content: "'" ;
    color:green ;
    }

.metáfora::before , .metáfora::after , .metafora::before , .metafora::after 
    {
    content: '"' ;
    color:rgb(255, 0, 0) ;
    }









.quieroQueSeVeaPoco , .colorGrisClaro { color: lightgrey ; }




.detalleDiscretoPeroMuyImportanteParaPrestarleAtención { color: lightgrey ; } 
.detalleDiscretoPeroMuyImportanteParaPrestarleAtención::after {    content: " (!!!)";    color: red; }
