
* {
font-family: 
    'Lucida Grande' , 
    'Lucida Sans' , 
    'Lucida Sans Regular' , 
    'Lucida Sans Unicode' , 
    Geneva , 
    Verdana , 
    sans-serif ;
    }  



html , body 
    {     

    box-sizing: border-box ; /*   'The CSS box-sizing property' - allows to include : the {padding and border} in an element's total {width and height}   */ 
    padding: 0 ; 
    margin: 0 ;  

    /*   white-space:   */   /*   Whitespace refers to characters which are used to provide horizontal or vertical space between other characters.    */

    }



html {
    display: flex ;
    flex-direction: column ; 
    justify-content: center ;
    align-items: center ;
    min-height: 100vh ;
    }










































/* TIPOGRAFÍA */ /* TIPOGRAFÍA */ /* TIPOGRAFÍA */
/* TIPOGRAFÍA */ /* TIPOGRAFÍA */ /* TIPOGRAFÍA */
/* TIPOGRAFÍA */ /* TIPOGRAFÍA */ /* TIPOGRAFÍA */
/* TIPOGRAFÍA */ /* TIPOGRAFÍA */ /* TIPOGRAFÍA */
/* TIPOGRAFÍA */ /* TIPOGRAFÍA */ /* TIPOGRAFÍA */
/* TIPOGRAFÍA */ /* TIPOGRAFÍA */ /* TIPOGRAFÍA */




p , span 
    {

    font-size: 13pt ; 

    /*  white-space: pre-wrap ;  <---| 'white-space: pre-wrap;' - Sequences of whitespace are preserved. Lines are broken at newline characters, at <br>, and as necessary to fill line boxes.   */

    }

/* 'hanging indent' a los párrafos */ 
.hangingIndent , .sangriaFrancesa {
  text-indent: -1.618em ;
  padding-left: 1.618em ;
  }




h1 , h1 *
    { 
    font-size:9vw !important ; 
    text-decoration-line: underline overline ; 
    /* display:flex ; 
    justify-content:center ; */ 
    text-align:center ;
    /* width: 100% ; */ 
    /* max-height: 222px; */
    } 




h1 span,
h1 p 
    {
    font-size: inherit;
    }




a {
    color: #309603 ; /*inherit;*/
    text-decoration: none;
}

























    
/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */

.colorGris { color:  #7f7f7f ; } 
.colorGrisClaro { color: lightgrey ; } 
.colorRojo { color: #fb0017 ; } 
.colorAzul { color: #1080d6 ; } 
.colorAzulClaro { color: #abe2ff ; }
.colorVerde { color: #309603 ; }
.colorVerdeClaro { color: #2f960383 ; }
























/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 
/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 
/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 



.subrayado{text-decoration:underline;} 




















/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 
/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 
/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 



.textoImportante, .letraGORDITA, .resumen , .resumenEnGordita
    { 
    font-weight: 999 ; 
    }

.textoSecundario , .textoDetalleSecundario
    {
    color:#7f7f7f ; 
    } 

.textoTerciario , .textoDetalleTerciario , .fluff , .paja 
    {
    color:lightgray ; 
    }




.ambiguo::before ,  .ambiguo::after
    {
    content: '"' ; 
    color: #1080d6;
    }



.demasiadoAmplio::before ,  .demasiadoAmplio::after
    {
    content: '"' ;
    color: #1080d6;
    }



.síEsExactamenteLoQueQuieroDecir::before , .síEsExactamenteLoQueQuieroDecir::after , .literalmente::before , .literalmente::after , .términoTécnicoEspecífico::before 
    {
    content: "‘" ;
    color:red ;
    } 
.síEsExactamenteLoQueQuieroDecir::after , .literalmente::after , .términoTécnicoEspecífico::after
    {
    content: "’" ;
    color:red ;
    }

.noEsExactamenteLoQueQuieroDecir::before , .noEsExactamenteLoQueQuieroDecir::after
    {
    content: '"' ;
    color:blue ;
    }
.piensoQueEsExacto::before  
    {
    content: "‘" ;
    color:blue ;
    } 
.piensoQueEsExacto::after  
    {
    content: "’" ;
    color:blue ;
    } 

.categoríaGeneral::before , .categoríaGeneral::after
    {
    content: '"' ;
    color:green ;
    }
.categoríaEspecífica::before , .categoríaEspecífica::after
    {
    content: "'" ;
    color:green ;
    }

.metáfora::before , .metáfora::after , .metafora::before , .metafora::after 
    {
    content: '"' ;
    color:rgb(255, 0, 0) ;
    }

.bloqueDeTierra::before 
    {
    content: '[ ' ;
    color:rgb(255, 0, 0) ;
    }
.bloqueDeTierra::after 
    {
    content: ' ]' ;
    color:rgb(255, 0, 0) ;
    }


























.quieroQueSeVeaPoco , .colorGrisClaro { color: lightgrey ; }




.detalleDiscretoPeroMuyImportanteParaPrestarleAtención { color: lightgrey ; } 
.detalleDiscretoPeroMuyImportanteParaPrestarleAtención::after {    content: " (!!!)";    color: red; }
