* 
{
font-family: 
    'Lucida Grande' , 
    'Lucida Sans' , 
    'Lucida Sans Regular' , 
    'Lucida Sans Unicode' , 
    Geneva , 
    Verdana , 
    sans-serif ;
    }  



html , body 
    {     
    box-sizing: border-box; /*   'The CSS box-sizing property' - allows to include : the {padding and border} in an element's total {width and height}   */ 
    padding: 0 ; 
    margin: 0 ;  
    }



#menúPieDePantalla 
    {
    background-color:rgba(255, 0, 0, 0.298)  ; 
    position:sticky ; 
    bottom: 0 ;
    width: 100%;
    }



body 
    {
    display:grid ;
    min-height:100dvh ; /*   dvh ±= todo el height del view "por dinámico"   */
    grid-template-rows: auto 1fr auto ; /*   2 filas = { "contenido" ocupa : 1 fracción + 'el footer' en automático }   */
    /*grid-template-rows: 1fr auto ; /* 2 filas = { "contenido" ocupa : 1 fracción + 'el footer' en automático } */
    }













p , span 
    {
    font-size: 13pt ; 
    }





h1 , h1 *
    { 
    font-size:9vw !important ; 
    text-decoration-line: underline overline ; 
    /* display:flex ; 
    justify-content:center ; */ 
    text-align:center ;
    /* width: 100% ; */ 
    /* max-height: 222px; */
    } 
























/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 
/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 
/* "DECORACIONES DE FUENTES" */ /* "DECORACIONES DE FUENTES" *//* "DECORACIONES DE FUENTES" */ 

.letraGORDITA, .textoImportante, .resumen , .resumenEnGordita
    { 
    font-weight: 999 ; 
    }

.subrayado{text-decoration:underline;} 












/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 
/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 
/* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ /* "TIPOS DE TEXTOS" */ 



.textoImportante, .letraGORDITA, .resumen 
    { 
    font-weight: 999 ; 
    }

.textoSecundario , .textoDetalleSecundario
    {
    color:#7f7f7f ; 
    } 

.textoTerciario , .textoDetalleTerciario , .fluff , .paja 
    {
    color:lightgray ; 
    }




.ambiguo::before ,  .ambiguo::after
    {
    content: '"' ;
    }



.demasiadoAmplio::before ,  .demasiadoAmplio::after
    {
    content: '"' ;
    }



.síEsExactamenteLoQueQuieroDecir::before , .síEsExactamenteLoQueQuieroDecir::after , .literalmente::before , .literalmente::after , .términoTécnicoEspecífico::before 
    {
    content: "‘" ;
    color:red ;
    } 
.síEsExactamenteLoQueQuieroDecir::after , .literalmente::after , .términoTécnicoEspecífico::after
    {
    content: "’" ;
    color:red ;
    }

.noEsExactamenteLoQueQuieroDecir::before , .noEsExactamenteLoQueQuieroDecir::after
    {
    content: '"' ;
    color:blue ;
    }
.piensoQueEsExacto::before  
    {
    content: "‘" ;
    color:blue ;
    } 
.piensoQueEsExacto::after  
    {
    content: "’" ;
    color:blue ;
    } 

.categoríaGeneral::before , .categoríaGeneral::after
    {
    content: '"' ;
    color:green ;
    }
.categoríaEspecífica::before , .categoríaEspecífica::after
    {
    content: "'" ;
    color:green ;
    }

.metáfora::before , .metáfora::after , .metafora::before , .metafora::after 
    {
    content: '"' ;
    color:lightgray ;
    }









.quieroQueSeVeaPoco , .colorGrisClaro { color: lightgrey ; }




.detalleDiscretoPeroMuyImportanteParaPrestarleAtención { color: lightgrey ; } 
.detalleDiscretoPeroMuyImportanteParaPrestarleAtención::after {    content: " (!!!)";    color: red; }

















/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */

.colorGris { color:  #7f7f7f ; } 
.colorGrisClaro { color: lightgrey ; } 
.colorRojo { color: #fb0017 ; } 
.colorAzul { color: #1080d6 ; } 
.colorAzulClaro { color: #abe2ff ;}
.colorVerde { color: #309603 ;}
.colorVerdeClaro { color: #2f960383 ;}
