* 
    {
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }  

html , body {     box-sizing: border-box; /* 'The CSS box-sizing property' - allows to include : the {padding and border} in an element's total {width and height} */ padding: 0 ; margin: 0 ;  }

#menúPieDePantalla 
    {
    background-color:rgba(165, 42, 42, 0.298)  ; 
    position:sticky ; 
    bottom: 0 ;
    width: 100%;
    }

body 
    {
    display:grid ;
    min-height:100dvh ; /* dvh ±= todo el height del view "por dinámico" */
    grid-template-rows: auto 1fr auto ; /* 3 filas = { 'header' en automatico + "contenido" ocupa : 1 fracción + 'el footer' en automático } */
    }











/* "DECORACIONES DE FUENTES" */ 

.letraGORDITA, .textoImportante, .resumen 
    { 
    font-weight: 999 ; 
    }

.subrayado{text-decoration:underline;} 












/* "TIPOS DE TEXTOS" */ 

.noEsExactamenteLoQueQuieroDecir::before , .noEsExactamenteLoQueQuieroDecir::after
    {
    content: '"' ;
    color:blue ;
    }

.síEsExactamenteLoQueQuieroDecir::before , .síEsExactamenteLoQueQuieroDecir::after , .literalmente::before , .literalmente::after , .términoTécnicoEspecífico::before , .términoTécnicoEspecífico::after
    {
    content: "'" ;
    color:red ;
    }









/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */
/* COLORES */ /* COLORES */ /* COLORES */

.colorGris { color: grey ; } 
.colorGrisClaro { color: lightgrey ; } 
.colorRojo { color: red ; } 
.colorAzul { color: blue ; }
